accelerate==0.30.1
ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
aiohttp==3.9.5
aiosignal==1.3.1
ament-cmake-test==1.3.8
ament-copyright==0.12.10
ament-cppcheck==0.12.10
ament-cpplint==0.12.10
ament-flake8==0.12.10
ament-index-python==1.4.0
ament-lint==0.12.10
ament-lint-cmake==0.12.10
ament-mypy==0.12.10
ament-package==0.14.0
ament-pep257==0.12.10
ament-uncrustify==0.12.10
ament-xmllint==0.12.10
angles==1.15.0
anyascii==0.3.2
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.15.0
bangla==0.0.2
blinker==1.8.2
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.1
builtin-interfaces==1.2.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
composition-interfaces==1.2.1
contourpy==1.2.1
coqpit==0.0.17
cv-bridge==3.2.1
cycler==0.12.1
Cython==0.29.28
dateparser==1.1.8
dctorch==0.1.2
decorator==5.1.1
demo-nodes-py==0.20.3
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
docker-pycreds==0.4.0
docopt==0.6.2
domain-coordinator==0.10.0
einops==0.8.0
eufs_launcher==2.0.0
eufs_msgs==0.0.0
eufs_racecar==2.0.0
eufs_rqt==2.0.0
eufs_tracks==2.0.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
filelock==3.14.0
Flask==3.0.3
fonttools==4.51.0
force_off_track==1.0.0
foxglove-msgs==2.3.0
frozenlist==1.4.1
fsspec==2024.3.1
ftfy==6.2.0
g2pkk==0.1.2
gazebo-msgs==3.7.0
geographic-msgs==1.0.5
geometry-msgs==4.2.3
gitdb==4.0.11
GitPython==3.1.43
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
huggingface-hub==0.23.0
idna==3.7
image-geometry==3.2.1
imageio==2.34.1
inflect==5.6.0
interactive-markers==2.3.2
itsdangerous==2.2.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
joint-state-publisher==2.4.0
jsonlines==1.2.0
jsonmerge==1.9.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
k-diffusion==0.1.1.post1
kiwisolver==1.4.5
kornia==0.7.2
kornia_rs==0.1.3
laser-geometry==2.4.0
launch==1.0.5
launch-ros==0.19.7
launch-testing==1.0.5
launch-testing-ros==0.19.7
launch-xml==1.0.5
launch-yaml==1.0.5
lazy_loader==0.4
librosa==0.10.0.post2
lifecycle-msgs==1.2.1
llvmlite==0.39.1
logging-demo==0.20.3
map-msgs==2.1.0
MarkupSafe==2.1.5
matplotlib==3.8.4
mecab-python3==1.0.5
message-filters==4.3.3
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
nav-msgs==4.2.3
networkx==2.8.8
nltk==3.8.1
num2words==0.5.13
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.1.105
osrf-pycommon==2.0.2
packaging==24.0
pandas==2.2.2
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pillow==10.3.0
platformdirs==4.2.1
pooch==1.6.0
protobuf==3.19.6
psutil==5.9.8
pycparser==2.22
pynndescent==0.5.12
pyparsing==3.1.2
pypinyin==0.51.0
pysbd==0.3.4
python-crfsuite==0.9.10
python-dateutil==2.9.0.post0
python-qt-binding==1.1.2
pytz==2024.1
PyYAML==6.0.1
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.12
rclpy-message-converter==2.0.1
rcutils==5.1.5
referencing==0.35.1
regex==2024.5.10
requests==2.31.0
resource-retriever==3.1.1
rmw-dds-common==1.6.0
robot-localization==3.5.2
ros2action==0.18.9
ros2bag==0.15.9
ros2cli==0.18.9
ros2component==0.18.9
ros2doctor==0.18.9
ros2interface==0.18.9
ros2launch==0.19.7
ros2lifecycle==0.18.9
ros2multicast==0.18.9
ros2node==0.18.9
ros2param==0.18.9
ros2pkg==0.18.9
ros2run==0.18.9
ros2service==0.18.9
ros2topic==0.18.9
rosbag2-interfaces==0.15.9
rosbag2-py==0.15.9
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rpds-py==0.18.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.3
rqt-graph==1.3.0
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
safetensors==0.4.3
sbg_driver==3.1.0
scikit-image==0.23.2
scikit-learn==1.4.2
scipy==1.13.0
scripts==3.7.0
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
sentry-sdk==2.1.1
setproctitle==1.3.3
shape-msgs==4.2.3
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soxr==0.3.7
sros2==0.10.4
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
sympy==1.12
teleop-twist-keyboard==2.4.0
tensorboardX==2.6
tf2-geometry-msgs==0.25.6
tf2-kdl==0.25.6
tf2-msgs==0.25.6
tf2-py==0.25.6
tf2-ros-py==0.25.6
tf2-tools==0.25.6
threadpoolctl==3.5.0
tifffile==2024.5.10
tokenizers==0.19.1
topic-monitor==0.20.3
torch==2.3.0
torchaudio==2.3.0
torchdiffeq==0.2.3
torchsde==0.2.6
torchvision==0.18.0
tqdm==4.66.4
trainer==0.0.20
trajectory-msgs==4.2.3
trampoline==0.1.2
transformers==4.40.2
triton==2.3.0
TTS==0.14.3
turtlesim==1.4.2
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
ugrdv_common==1.0.0
ugrdv_comms_carla==0.0.0
ugrdv_control_server==1.0.0
ugrdv_heading_control_dynamic==1.0.0
ugrdv_heading_control_evaluation==1.0.0
ugrdv_manual_control==0.0.0
ugrdv_motion_control_py==1.0.0
ugrdv_motion_position==0.0.0
ugrdv_msgs==1.0.0
ugrdv_odometry_reconstruction==0.0.0
ugrdv_path_planning==0.0.0
ugrdv_perception_camera==1.0.0
ugrdv_rosbag_browser==0.0.0
ugrdv_simulation==0.0.0
ugrdv_splines==0.0.0
ugrdv_telemetry==0.0.0
umap-learn==0.5.1
unidic-lite==1.0.8
unique-identifier-msgs==2.2.1
urllib3==2.2.1
visualization-msgs==4.2.3
wandb==0.17.0
wcwidth==0.2.13
Werkzeug==3.0.3
xacro==2.0.8
yarl==1.9.4
